#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spline-wrap {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.resume-div-wrap {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 15vw;
}

.resume-paragraph-wrap {
  padding:50px;
}

.noto-serif-resume-subtext {
  font-family: "Noto Serif", serif;
  font-size: 1.5em;
  color: rgb(114, 114, 114);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  margin-top: 0.5em;
}

.noto-serif-resume-text {
  font-family: "Noto Serif", serif;
  font-size: 1.3em;
  color: rgb(54, 54, 54);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  margin-top: 0.5em;
  text-align: justify;
}

.noto-serif-resume-text-bold {
  font-family: "Noto Serif", serif;
  font-size: 1.3em;
  color: rgb(54, 54, 54);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  margin-top: 0.5em;
  text-align: justify;
}

.noto-serif-resume-title {
  font-family: "Noto Serif", serif;
  color: rgb(54, 54, 54);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
}

.mui-icon {
  color: rgb(54, 54, 54);
  vertical-align: text-bottom;
}

.img-size {
  width: 100%;
  height: 100%;
}